@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar border-r border-gray-200 px-20 lg:px-16 py-10 lg:py-20 overflow-hidden">
        <NavMenu/>
    </div>

    <main class="">
        <div class="sg-main-inner py-20 sm:mx-20">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

