@using System.Text.RegularExpressions
@using MichaelKjellander.Models.Wordpress
@using MichaelKjellander.SharedUtils
@using MichaelKjellander.SharedUtils.Routes
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Options.IOptions<AppConfig> Options

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="sg-navbar-brand font-bold text-3xl" href="/">Michael Kjellander</a>
    </div>
</div>

<div class="lg:h-20"></div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @foreach (var link in _links)
        {
            <div class="nav-item border-gray-200">
                <a class="nav-link py-2 text-base @(IsCurrent(link) ? "active" : "")" href="@link.Url">
                    @link.Text
                </a>
            </div>
        }
    </nav>
</div>


@code {

    private readonly NavLink[] _links =
    [
        new NavLink("Senaste inläggen", PageRoutes.Home, "(/|/senaste/[0-9]+)"),
        CreateCategoryNavLink("Mina spel", CategoryType.Game),
        CreateCategoryNavLink("Tv-spelrecensioner", CategoryType.GameReview),
        CreateCategoryNavLink("Övriga inlägg", CategoryType.Other),
        new NavLink("Kontakt", PageRoutes.Page("kontakt"), "/sida/kontakt")
    ];

    private static NavLink CreateCategoryNavLink(string text, CategoryType type)
    {
        return new NavLink(text, PageRoutes.Category(type), PageRoutes.CategoryPattern(type));
    }

    private record struct NavLink(string Text, string Url, string Pattern);

    private bool IsCurrent(NavLink navLink)
    {
        string currentUrl = NavigationManager.Uri;

        string fullPattern = $"^{Options.Value.SiteUrl}{navLink.Pattern}$";
        Regex regex = new Regex(fullPattern);
        bool isMatch = regex.IsMatch(currentUrl);

        Console.WriteLine($"cu={currentUrl}, fp={fullPattern}, m={isMatch}");

        return isMatch;
    }

}