@using MichaelKjellander.SharedUtils.Routes

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="sg-navbar-brand font-bold text-3xl" href="/">Michael Kjellander</a>
    </div>
</div>

@*<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>*@
<div class="lg:h-20"></div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @foreach (var link in _links)
        {
            <div class="nav-item border-gray-200">
                <NavLink class="nav-link py-2 text-base" href="@link.Url" Match="NavLinkMatch.Prefix">
                    @link.Text
                </NavLink>
            </div>
        }
    </nav>
    <div><input class="border border-black mt-10" placeholder="Sök ..." type="text"/></div>
</div>



@code {
    private readonly NavLink[] _links = [
        new NavLink("Senaste inläggen", PageRoutes.Home), 
        new NavLink("Mina spel", PageRoutes.Category("mina-spel")), 
        new NavLink("Tv-spelrecensioner", PageRoutes.Category("tv-spelrecensioner")), 
        new NavLink("Övriga inlägg", PageRoutes.Category("okategoriserade")), 
        new NavLink("Kontakt", PageRoutes.Page("kontakt"))
    ];

    private record struct NavLink(string Text, string Url);

}