@using MichaelKjellander.SharedUtils.Api
@inject NavigationManager NavigationManager;

@if (PaginationData != null && @PaginationData.NumPages > 1)
{
    <div class="bg-white mt-16 py-4 text-center">
        @foreach (PageData pageData in _visiblePages)
        {
            if (pageData.Page == null)
            {
                <span>...</span>
            }
            else
            {
                <a class="px-4 text-xl sg-font-sans @(pageData.IsCurrent ? "font-bold" : "")" href="@pageData.Link">
                    @pageData.Page
                </a>
            }
        }
    </div>
}

@code {
    [Parameter] public PaginationData? PaginationData { get; set; }

    private List<PageData> _visiblePages = [];

    private class PageData
    {
        public int? Page;
        public bool IsCurrent;

        public string Link
        {
            get
            {
                if (Page == 1)
                {
                    return "/";
                }

                return $"/senaste/{Page}";
            }
        }
    }

    protected override void OnParametersSet()
    {
        if (PaginationData == null)
        {
            return;
        }
        
        _visiblePages.Clear();
        int lastPage = PaginationData.NumPages;
        int currentPage = PaginationData.CurrentPage;
        
        //Yes, I want all pages
        for (int pageNumber = 1; pageNumber <= lastPage; pageNumber++)
        {
            _visiblePages.Add(new PageData()
            {
                Page = pageNumber,
                IsCurrent = pageNumber == currentPage,
            });
        }
    }

}