@using MichaelKjellander.SharedUtils.Api

@if (paginationData != null && @paginationData.NumPages > 1)
{
    <div class="bg-white mt-16 py-4 text-center">
        @foreach (int aPage in _visiblePages)
        {
            <a class="mx-2" href="/sida/@aPage">@aPage</a>
        }
    </div>
}

@code {
    [Parameter] public PaginationData? paginationData { get; set; }

    private List<int> _visiblePages = new();

    protected override void OnParametersSet()
    {
        if (paginationData == null)
        {
            return;
        }

        int currentPage = paginationData.CurrentPage;
        int lastPage = paginationData.NumPages;
        int prevPage = currentPage - 1;
        int nextPage = currentPage + 1;

        ISet<int> visiblePagesSet = new HashSet<int>();

        visiblePagesSet.Add(1);
        visiblePagesSet.Add(prevPage);
        visiblePagesSet.Add(currentPage);
        visiblePagesSet.Add(nextPage);
        visiblePagesSet.Add(lastPage);
        visiblePagesSet.Remove(0);
        
        _visiblePages.AddRange(visiblePagesSet);
        _visiblePages.Sort();
    }
    
    //TODO: numpages=7, should be 8???
}