@using MichaelKjellander.SharedUtils.Api
@inject NavigationManager NavigationManager;
@rendermode InteractiveServer
@inject ILogger<PaginationBox> Logger
@inject IJSRuntime JS

@if (PaginationData != null && @PaginationData.NumPages > 1)
{
    <div class="bg-white mt-16 py-4 text-center">
        @foreach (PageData pageData in _visiblePages)
        {
            if (pageData.Page == null)
            {
                <span>...</span>
            }
            else
            {
                <a class="px-4 text-xl sg-font-sans @(pageData.IsCurrent ? "font-bold" : "")" href="@pageData.Link">
                    @pageData.Page
                </a>
            }
        }
    </div>
}

@code {
    [Parameter] public PaginationData? PaginationData { get; set; }

    private List<PageData> _visiblePages = [];

    private class PageData
    {
        public int? Page;
        public bool IsCurrent;

        public string Link
        {
            get
            {
                if (Page == 1)
                {
                    return "/";
                }

                return $"/sida/{Page}";
            }
        }
    }

    protected override void OnParametersSet()
    {
        if (PaginationData == null)
        {
            return;
        }

        int currentPage = PaginationData.CurrentPage;
        int lastPage = PaginationData.NumPages;
        int prevPage = currentPage - 1;
        int nextPage = currentPage + 1;

        ISet<int> visiblePagesSet = new HashSet<int>();

        //I changed my mind, I want ALL pages.
        // visiblePagesSet.Add(1);
        // visiblePagesSet.Add(prevPage);
        // visiblePagesSet.Add(currentPage);
        // visiblePagesSet.Add(nextPage);
        // visiblePagesSet.Add(lastPage);
        // visiblePagesSet.Remove(0);
        for (int pageNumber = 1; pageNumber <= lastPage; pageNumber++)
        {
            visiblePagesSet.Add(pageNumber);
        }

        List<int> tmpList = new List<int>(visiblePagesSet);
        tmpList.Sort();

        for (int i = 0; i < tmpList.Count; i++)
        {
            int current = tmpList[i];
            int? prev = i > 0 ? tmpList[i - 1] : null;
            if (prev != null)
            {
                int diff = current - (int)prev;
                if (diff > 1)
                {
                    _visiblePages.Insert(i, new PageData() { Page = null});
                }
            }

            _visiblePages.Add(new PageData()
            {
                Page = current, 
                IsCurrent = current == PaginationData.CurrentPage,
            });
        }
    }
    
    // private void HandleClick(PageData pageData)
    // {
    //     NavigationManager.NavigateTo(pageData.Link, false);
    // }
    

}