@using MichaelKjellander.SharedUtils
@inject Microsoft.Extensions.Options.IOptions<AppConfig> Options

<!DOCTYPE html>
<html lang="en">

<head>
    @if (Options.Value.IsAnyDev)
    {
        <meta name="robots" content="noindex, nofollow">
    }
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="app.compiled.css" rel="stylesheet"/>
    @* <link rel="stylesheet" href="MichaelKjellander.styles.css"/> *@
    <link rel="stylesheet" href="components.compiled.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <script>
        window.scrollToTop = function () {
            window.scrollTo(0, 0);
        }
        window.debugArgs = function (args) {
            console.log(args);
        }
    </script>
    <HeadOutlet/>
</head>

<body class="">
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>