@using System.ComponentModel.DataAnnotations
@using MichaelKjellander.Views.Components.Icons
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3" role="alert">
    <div>
        <IconAlertTriangle/>
        <span class="text-sm pl-1">@Message</span>
    </div>
</div>

@code {
    [Parameter, Required] public string Message { get; set; } = "";
}