@using MichaelKjellander.Views.Components.Icons
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3" role="alert">
    <div class="flex">
        <div class="py-1">
            <IconAlertTriangle/>
        </div>
        <div>
            <p class="text-sm">Make sure you know how these changes affect you.</p>
        </div>
    </div>
</div>

@code {

}