@using MichaelKjellander.Views.Components.Icons
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3" role="alert">
    <div>
        <IconAlertTriangle/>
        <span class="text-sm pl-1">Make sure you know how these changes affect you. Make sure you know how these changes affect you.</span>
    </div>
</div>

@code {

}