@page "/webbspel/hanga-gubbe"
@inject IHttpClientFactory ClientFactory
@using MichaelKjellander.Services
@using MichaelKjellander.SharedUtils
@inject Microsoft.Extensions.Options.IOptions<AppConfig> Options
@rendermode InteractiveServer

<h3>Hänga gubbe</h3>

@_currentWord

@code {
    private string _currentWord;
    
    //TODO: will need to request more, can't do it over visible API
    protected override async Task OnInitializedAsync()
    {
        InternalApiService service = new InternalApiService(ClientFactory.CreateClient(), Options);
        _currentWord = await service.FetchRandomWord();
    }
}