@using System.ComponentModel.DataAnnotations
@using MichaelKjellander.IndependentUtils.Collections
<span class="toggle-button-single-container">
    <button class="toggle-button" data-active="@_isChecked.ToString().ToLower()">@ChildContent</button>
    <input class="hidden" type="checkbox" @onchange="HandleClick"/>
</span>

@code {
    [Parameter, Required] public RenderFragment? ChildContent { get; set; }
    [Parameter, Required] public Indexer<int>? Indexer { get; set; }
    [Parameter, Required] public int Index { get; set; }
    [Parameter, Required] public EventCallback OnToggle { get; set; }

    private bool _isChecked = false;

    protected override void OnParametersSet()
    {
        OnIndexerChange();
    }

    /*private void Test()
    {
        Console.WriteLine("**** TEST");
    }*/

    private void OnIndexerChange()
    {
        _isChecked = Indexer![Index];
    }

    private void HandleClick()
    {
        Indexer![Index] = !Indexer![Index];
        OnToggle.InvokeAsync();
    }

}