@using MichaelKjellander.Services
@inject JsService JsService

<button class="btn btn-dark"  @onclick="Toggle">Toggle</button>
Show: @_show

<div class="sg-modal-parent @(_show ? "flex" : "hidden")" @onclick="Hide">
    <div class="sg-modal bg-white p-10 relative">
        MODAL CONTENT
    </div>
</div>


@code {
    private bool _show = false;

    private void Hide(MouseEventArgs args)
    {
        JsService.DebugArgs(args);
        _show = false;
    }
    
    private void Toggle()
    {
        _show = !_show;
    }
}