@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Noto Serif", serif;
}

main {
    max-width: 980px;
}

.sg-title-section {
    position: relative;
}

.sg-title-section-side {
    width: 0.4rem;
    height: 100%;
    background: black;
    top: 0;
    bottom: 0;
    position: absolute;
}

.sg-post {
    padding: 5rem;
}
.sg-post-content {
    font-size: 1.2rem;
}
.sg-post-content p {
    margin: 2rem 0;
}
.sg-post-content a {
    text-decoration: underline;
}
.sg-post-content a:hover {
    text-decoration: none;
    color: var(--bs-gray-700);
}
.sg-post-content .wp-block-quote {
    padding-left: 1rem;
    font-style: italic;
    border-left: 0.4rem var(--bs-gray-600) solid;
    color: var(--bs-gray-700);
}
.sg-post-content .wp-block-quote cite {
    color: black;
    font-style: normal;
}
