@using System.ComponentModel.DataAnnotations
@using MichaelKjellander.IndependentUtils.Collections
<button class="toggle-button" data-active="@_isChecked.ToString().ToLower()" @onclick="HandleClick">@ChildContent</button>

@code {
    [Parameter, Required] public RenderFragment? ChildContent { get; set; }
    [Parameter, Required] public Indexer<int>? Indexer { get; set; }
    [Parameter, Required] public int Index { get; set; }
    [Parameter, Required] public EventCallback OnToggle { get; set; }

    private bool _isChecked = false;

    protected override void OnParametersSet()
    {
        OnIndexerChange();
    }

    private void OnIndexerChange()
    {
        _isChecked = Indexer![Index];
    }

    private void HandleClick()
    {
        Indexer![Index] = !Indexer![Index];
        OnToggle.InvokeAsync();
    }

}