@page "/kategori/{Slug}"
@page "/kategori/{Slug}/{Page:int}"
@using MichaelKjellander.Models.Wordpress
@using MichaelKjellander.Services
@using MichaelKjellander.SharedUtils
@using MichaelKjellander.SharedUtils.Api
@using MichaelKjellander.Components.Boxes
@using MichaelKjellander.SharedUtils.Routes
@inject IHttpClientFactory ClientFactory
@inject Microsoft.Extensions.Options.IOptions<AppConfig> Options
@inject JsService JsService
@rendermode InteractiveServer

<PageTitle>
    @(ComponentUtil.FormatPageTitle(_category?.Name, Page))
</PageTitle>

@if (IsFirstPage && _category != null)
{
    <TitleBox Title="@_category.Name" Description="@_category?.Description">
        @if (_category!.Type == CategoryType.GameReview)
        {
            <p class="font-bold">Betyg</p>
        }
    </TitleBox>
}

<PostBoxes Posts="_posts" PaddingForFirst="IsFirstPage"/>

<PaginationBox paginationData="@_pagination" UrlPrefix="@_prefix"/>

@code {
    [Parameter] public string? Slug { get; set; }
    [Parameter] public int? Page { get; set; }
    private IList<WpPost>? _posts;
    private WpCategory? _category;
    private PaginationData? _pagination;
    private string? _prefix;

    private bool IsFirstPage => Page is null or 1;

    protected override async Task OnInitializedAsync()
    {
        if (Slug == null)
        {
            return;
        }

        //TODO: INJECT
        InternalApiService service = new InternalApiService(ClientFactory.CreateClient(), Options);
        ApiResponse<WpPost> postsData = await service.FetchPosts(pageNumber: Page ?? 1, categorySlug: Slug);
        _posts = postsData.Items;
        _category = _posts?.FirstOrDefault()?.Category;
        _prefix = PageRoutes.Category(Slug);
        _pagination = postsData.PaginationData;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JsService.ScrollToTop();
    }

}