@page "/"
@using MichaelKjellander.Models.Wordpress
@using Microsoft.EntityFrameworkCore

<PageTitle>Michael Kjellander</PageTitle>

<div class="bg-white mt-16">
    <div class="py-5 px-5"><h1 class="text-3xl fw-bold">Välkommen till michaelkjellander.se!</h1></div>
</div>


Här postar jag tv-spelrecensioner och annat!

<hr/>

@if (posts != null)
{
    @foreach (var post in posts)
    {
        <p>Post: @post.Title (@post.Id)</p>
        <div class="bg-slate-400 content">
            @((MarkupString)@post.Content)
        </div>
        <div class="content_source">
            @post.Content
        </div>
        <hr/>
    }
}


@code {
    private List<WpPost>? posts;

    protected override async Task OnInitializedAsync()
    {
        await using var context = new Data.WordpressContext();

        posts = await context.WpPosts.Where(row => row.Status == "publish").OrderByDescending(row => row.PublishTime).Take(10).ToListAsync();
    }

}