@page "/"
@using MichaelKjellander.Models.Wordpress
@using Microsoft.EntityFrameworkCore

<PageTitle>Michael Kjellander</PageTitle>

<div class="bg-white mt-16 title-section">
    <div class="title-section-side"></div>
    <div class="py-5 px-5">
        <h1 class="text-2xl fw-bold">Välkommen till michaelkjellander.se!</h1>
        <div class="h-4"></div>
        <h2 class="text-slate-500">
            Här postar jag tv-spelrecensioner och annat!
        </h2>
    </div>
</div>


@if (posts != null)
{
    @foreach (var post in posts)
    {
        <div class="bg-white mt-16">
            <div class="py-5 px-5">
                <h3 class="text-3xl fw-bolder">@post.Title</h3>
                ID: @post.Id
                <div class="bg-slate-400 content">
                    @((MarkupString)@post.Content)
                </div>
                <div class="content_source">
                    @post.Content
                </div>
            </div>
        </div>
    }
}


@code {
    private List<WpPost>? posts;

    protected override async Task OnInitializedAsync()
    {
        await using var context = new Data.WordpressContext();

        posts = await context.WpPosts.Where(row => row.Status == "publish").OrderByDescending(row => row.PublishTime).Take(10).ToListAsync();
    }

}