@page "/"
@using MichaelKjellander.Models.Wordpress
@using Microsoft.EntityFrameworkCore

<PageTitle>Michael Kjellander</PageTitle>

<h1>Välkommen till michaelkjellander.se!</h1>

Här postar jag tv-spelrecensioner och annat!

<hr/>

@if (posts != null)
{
    @foreach (var post in posts)
    {
        <p>Post: @post.Title (@post.Id)</p>
        <div class="content">
            @((MarkupString)@post.Content)
        </div>
        <div class="content_source">
            @post.Content
        </div>
        <hr/>
    }
}


@code {
    private List<WpPost>? posts;

    protected override async Task OnInitializedAsync()
    {
        await using var context = new Data.WordpressContext();

        posts = await context.WpPosts.
            Where(row => row.Status == "publish").
            OrderByDescending(row => row.PublishTime).
            Take(10).
            ToListAsync();
    }

}