@page "/"
@using MichaelKjellander.Models.Wordpress
@inject IHttpClientFactory ClientFactory
@using MichaelKjellander.Utils

<PageTitle>Michael Kjellander</PageTitle>

<div class="bg-white sg-title-section">
    <div class="sg-title-section-side"></div>
    <div class="py-5 px-5">
        <h1 class="text-2xl fw-bold">Välkommen till michaelkjellander.se!</h1>
        <div class="h-4"></div>
        <h2 class="text-slate-500">
            Här postar jag tv-spelrecensioner och annat!
        </h2>
    </div>
</div>


@if (posts != null)
{
    @foreach (var post in posts)
    {
        <div class="bg-white mt-16 sg-post">
            <div class="">
                <span class="italic ">@post.Category.Name</span>
                <div class="h-2"></div>
                <h3 class="text-4xl fw-bolder">@post.Title</h3>
                <div class="sg-post-content">
                    @((MarkupString)@post.Content)
                </div>
            </div>
        </div>
    }
}


@code {
    private ICollection<WpApiCategory>? categories;
    private ICollection<WpApiPost>? posts;

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient();
        await GetCategories(client);
        await GetPosts(client);
        ModelUtil.MapCategoriesToPosts(categories!, posts!);
    }
    
    private async Task GetCategories(HttpClient client)
    {
        var json = await ApiUtil.FetchWp("categories", client);
        categories = JsonUtil.ParseList<WpApiCategory>(json);
    }

    private async Task GetPosts(HttpClient client)
    {
        var json = await ApiUtil.FetchWp("posts?per_page=1", client);
        posts = JsonUtil.ParseList<WpApiPost>(json);
    }

}