@page "/"
@using MichaelKjellander.Models.Wordpress
@using Microsoft.EntityFrameworkCore
@inject IHttpClientFactory ClientFactory
@using System.Text.Json.Serialization
@using System.Text.Json

<PageTitle>Michael Kjellander</PageTitle>

<div class="bg-white mt-16 title-section">
    <div class="title-section-side"></div>
    <div class="py-5 px-5">
        <h1 class="text-2xl fw-bold">Välkommen till michaelkjellander.se!</h1>
        <div class="h-4"></div>
        <h2 class="text-slate-500">
            Här postar jag tv-spelrecensioner och annat!
        </h2>
    </div>
</div>


@if (posts != null)
{
    @foreach (var post in posts)
    {
        <div class="bg-white mt-16">
            <div class="py-5 px-5">
                <h3 class="text-3xl fw-bolder">@post.Title</h3>
                ID: @post.Id
                <div class="bg-slate-400 content">
                    @*@((MarkupString)@post.Content)*@
                </div>
                <div class="content_source">
                    @post.id
                </div>
            </div>
        </div>
    }
}


@code {
    private IEnumerable<WpApiPost>? posts;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://michaelkjellander.se/wp-json/wp/v2/posts?per_page=1");
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request); 
        
        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            Console.WriteLine("SUCCESS");

            using StreamReader reader = new StreamReader(responseStream);

            string content = reader.ReadToEnd();
            Console.WriteLine(content);

            using JsonDocument doc = JsonDocument.Parse(content);
            JsonElement root = doc.RootElement;
            foreach (var el in root.EnumerateArray())
            {
                JsonElement titleElement = el.GetProperty("title");
                string rendered = titleElement.GetProperty("rendered").GetString();
                Console.WriteLine(rendered);
            }
            
            //JsonElement titleElement = root.GetProperty("title");
            //string rendered = titleElement.GetProperty("rendered").GetString();

            //Console.WriteLine(rendered);


            // var result = await JsonSerializer.DeserializeAsync
            //    <IEnumerable<string>>(responseStream);

            /*using (JsonDocument doc = JsonDocument.Parse(result))
            {
                JsonElement root = doc.RootElement;
                JsonElement titleElement = root.GetProperty("title");
                string rendered = titleElement.GetProperty("rendered").GetString();

                Console.WriteLine(rendered); // Output: Ludde
            }*/


            //Console.WriteLine("*** postlen="+result);
        }
        else
        {
            Console.WriteLine("FAIL");
        }
        
        /*await using var context = new Data.WordpressContext();

        posts = await context.WpPosts.Where(row => row.Status == "publish")
            .Include(row => row.TermRelationships)
            .OrderByDescending(row => row.PublishTime)
            .Take(10)
            .ToListAsync();
        
        Console.WriteLine("p="+posts[0].TermRelationships[0].ObjectId);*/
    }

}