@page "/"
@page "/senaste/{CurrentPage:int}"
@using MichaelKjellander.Models.Wordpress
@inject IHttpClientFactory ClientFactory
@using MichaelKjellander.Services
@using MichaelKjellander.SharedUtils
@using MichaelKjellander.Components.Boxes
@using MichaelKjellander.Models
@inject Microsoft.Extensions.Options.IOptions<AppConfig> Options
@rendermode InteractiveServer
@inject ILogger<PaginationBox> Logger
@inject JsService JsService

<PageTitle>
    @(CurrentPage > 1 ? $"Michael Kjellander - Senaste inläggen - Sida {CurrentPage}" : "Michael Kjellanders hemsida")
</PageTitle>

@if (IsFirstPage)
{
    <TitleBox Title="Välkommen till Michael Kjellanders hemsida!">
        <p>Här postar jag tv-spelrecensioner och annat. Webbplatsen är byggd med Blazor och har API-koppling mot min tidigare Wordpress-sajt.</p>
        <p><strong>Sidan är under utveckling!</strong></p>
        <p>Mode: @Options.Value.AppEnvironment, url: @Options.Value.SiteUrl</p>
        <p><a href="/webbspel/gissa-ordet">Gissa ordet</a></p>
    </TitleBox>
}

<PostBoxes Posts="_posts" PaddingForFirst="(IsFirstPage)"/>

<PaginationBox paginationData="@_pagination" UrlPrefix="/senaste" FirstUrlPrefix="/"/>


@code {
    [Parameter] public int? CurrentPage { get; set; }
    private IList<WpPost>? _posts;
    private PaginationData? _pagination;

    private bool IsFirstPage => CurrentPage is null or 1;

    protected override async Task OnInitializedAsync()
    {
        CurrentPage ??= 1;
        InternalApiService service = new InternalApiService(ClientFactory.CreateClient(), Options);
        ApiResponse<WpPost> postData = await service.FetchPosts(pageNumber: CurrentPage ?? 1);
        this._posts = postData.Items;
        this._pagination = postData.PaginationData;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JsService.ScrollToTop();
    }

}