@using System.ComponentModel.DataAnnotations
@using MichaelKjellander.Services
@inject JsService JsService

<div @ref=_modalParentRef class="sg-modal-parent" data-active="@false">
    <div class="sg-modal bg-white p-10 relative">
        <div @ref=_contentContainerRef></div>
    </div>
</div>


@code {
    [Parameter, Required] public ElementReference Container { get; set; }
    
    private ElementReference _modalParentRef;
    private ElementReference _contentContainerRef;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JsService.ListenToClicksForActivatingTarget(_modalParentRef, _contentContainerRef);
        }
    }
}