@using MichaelKjellander.Services
@inject JsService JsService

<button class="btn btn-dark"  @onclick="Toggle">Toggle</button>
Show: @_show

<div id="tmp" class="sg-modal-parent @(_show ? "flex" : "hidden")"  @onclick="HandleBackgroundClick">
    <div class="sg-modal bg-white p-10 relative">
        MODAL CONTENT
    </div>
</div>


@code {
    private bool _show = false;

    protected override void OnInitialized()
    {
        
    }

    //TODO: try avoid reacting on parent child click. Try to find a better way than this workdaround.
    private async Task HandleBackgroundClick()
    {
        bool wasClicked = await JsService.WasClicked("tmp");
        if (wasClicked)
        {
            _show = false;
        }
    }
    
    private void Toggle()
    {
        _show = !_show;
        if (_show)
        {
            JsService.AttachExclusiveListener("tmp");
        }
    }
}