@using System.ComponentModel.DataAnnotations
@using MichaelKjellander.Services
@using MichaelKjellander.SharedUtils
@inject JsService JsService

@*<button class="btn btn-dark"  @onclick="Toggle">Toggle</button>
Show: @_show*@

<div id="@ElementId" class="sg-modal-parent @(_show ? "flex" : "hidden")"  @onclick="HandleBackgroundClick">
    <div class="sg-modal bg-white p-10 relative">
        MODAL CONTENT
    </div>
</div>


@code {
    [Parameter] [Required] public string? ElementId { get; set; }
    [Parameter] public ComponentCallbacker? ShowCallbacker { get; set; }
    
    private bool _show = false;

    protected override void OnParametersSet()
    {
        if (ShowCallbacker != null)
        {
            ShowCallbacker.Action = Toggle;
        }
    }

    //TODO: try avoid reacting on parent child click. Try to find a better way than this workdaround.
    private async Task HandleBackgroundClick()
    {
        bool wasClicked = await JsService.WasClicked(ElementId!);
        if (wasClicked)
        {
            _show = false;
        }
    }
    
    private void Toggle()
    {
        _show = !_show;
        if (_show)
        {
            JsService.AttachExclusiveListener(ElementId!);
        }
    }
}