.sg-modal-parent {
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;,
    pointer-events: none;
}
.sg-modal {
    z-index: 1000;
    /*pointer-events: none;*/
}

/*
.sg-modal {
    background-color: purple;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}*/
