.sg-modal-parent {
    animation-name: sg-bg-animation;
    animation-duration: 0.2s;
    display: none;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.sg-modal-parent[data-active] {
    display: flex;
}
@keyframes sg-bg-animation {
    from {background-color: rgba(0,0,0,0);}
    to {background-color: rgba(0,0,0,0.5);}
}
.sg-modal {
    z-index: 1000;
    max-width: 80%;
}
