@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
/*  doesn't work in media   --sg-nav-breakpoint: 641px;*/
    ---color-grey: theme('colors.gray.500'); /* don't use this variable */
}

html {
}
body {
    font-family: "Noto Serif", serif;
}
main {
    background-color: rgb(241,241,241);
}

/*Generic*/
.sg-font-sans {
    font-family: "Noto Sans", sans-serif;
}
.btn {
    @apply font-bold py-2 px-6;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Noto Sans", sans-serif;
}
.btn[disabled] {
    @apply bg-gray-500 text-white;
}
.btn-blue:not([disabled]) {
    @apply bg-blue-500 text-white;
}
.btn-blue:not([disabled]):hover {
    @apply bg-blue-700;
}
.btn-default:not([disabled]) {
    background-color: #333;
    color: white;
}
.btn-default:not([disabled]):hover {
    opacity: 0.7;
}
.btn-danger:not([disabled]) {
    background-color: rgb(205, 92, 92);
    color: white;
}
.btn-danger:not([disabled]):hover {
    opacity: 0.7;
}

a:hover, .sg-post-content a:hover {
    text-decoration: none;
    color: theme('colors.gray.500');
}

.sg-break-together {
    display: inline-block;
    white-space: nowrap;
    width: auto;
}

/*
Specific. If possible, put these in the component's CSS instead.
These are mostly embedded HTML.
*/
.sg-post-content {
    @apply mt-8;
}
.sg-post-content a {
    color: black;
    text-decoration: underline;
    word-break: break-all;
}
.sg-post-content p {
    @apply mb-8;
}
.sg-post-content img {
    @apply cursor-zoom-in;
}
.sg-post-content iframe {
    width: 100%;
}
.sg-post-content .wp-block-quote {
    padding-left: theme('margin.4');
    font-style: italic;
    border-left: theme('margin.1') theme('colors.gray.600') solid;
    color: theme('colors.gray.700');
    @apply my-8;
}
.sg-post-content .wp-block-quote cite {
    color: black;
    font-style: normal;
}
.sg-post {
    font-size: theme('fontSize.lg');
}
.sg-post-padding {
    @apply p-10 sm:p-20;
}
