@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
/*  doesn't work in media   --sg-nav-breakpoint: 641px;*/
}

html {
}
body {
    font-family: "Noto Serif", serif;
}
main {
    background-color: rgb(241,241,241);
}

/*Generic*/
.sg-font-sans {
    font-family: "Noto Sans", sans-serif;
}
.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

a:hover {
    text-decoration: none;
    color: theme('colors.gray.500');
}

/*Specific (try to avoid)*/
.sg-main-inner {
    max-width: 825px;
}

.sg-title-section {
    position: relative;
}
.sg-title-section-side {
    width: theme('margin[1.5]');
    height: 100%;
    background: black;
    top: 0;
    bottom: 0;
    position: absolute;
}

.sg-post {
    font-size: 1.2rem; /*TODO: use tw class for this*/
}
.sg-post-content {
}
.sg-post-content a {
    text-decoration: underline;
}
.sg-post-content p {
    margin: theme('margin.8') 0;
}
.sg-post-content iframe {
    width: 100%;
}
.sg-post-content .wp-block-quote {
    padding-left: theme('margin.4');
    font-style: italic;
    border-left: theme('margin.1') theme('colors.gray.600') solid;
    color: theme('colors.gray.700');
}
.sg-post-content .wp-block-quote cite {
    color: black;
    font-style: normal;
}
