@page "/sida/{Slug}"
@using MichaelKjellander.Config
@using MichaelKjellander.Models
@using MichaelKjellander.Models.Wordpress
@using MichaelKjellander.Views.Services
@using MichaelKjellander.Views.Utils
@inject IHttpClientFactory ClientFactory
@inject Microsoft.Extensions.Options.IOptions<AppConfig> Options

<PageTitle>
    @(ComponentUtil.FormatPageTitle(_page?.Title))
</PageTitle>

@if (_page != null)
{
    <article class="border border-gray-200">
        <div class="bg-white sg-post p-10 sm:p-20">
            <h3 class="text-4xl font-bold">@((MarkupString)@_page.Title!)</h3>
            <div class="sg-post-content">
                @((MarkupString)@_page.Content!)
            </div>
        </div>
    </article>
}


@code {
    [Parameter] public string? Slug { get; set; }
    private WpPage? _page;

    protected override async Task OnInitializedAsync()
    {
        if (Slug == null)
        {
            return;
        }

        InternalApiService service = new InternalApiService(ClientFactory.CreateClient(), Options);
        WpPage? page = (await service.FetchPages(Slug = Slug)).FirstOrDefault();
        if (page == null)
        {
            return;
        }

        _page = page;
    }

}